
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_LayoutAdmin.cshtml";
}

<main>
    <div class="container-fluid">

        <div class="card mb-4">
            <div class="card-header">
                <i class="fas fa-table mr-1"></i>
                Danh sách nhân viên
            </div>
            <div class="card-body">
                <div class="table-responsive">
                    <button type="button" class="btn btn-success" style="margin-bottom: 20px;" data-toggle="modal" data-target="#ModalThem">Thêm mới</button>
                    <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
                        <thead>
                            <tr>
                                <th>Họ và tên</th>
                                <th>Ngày sinh</th>
                                <th>Giới tính</th>
                                <th>Số CMND</th>
                                <th>SĐT</th>
                                <th>Địa chỉ</th>
                                <th>Ngày vào làm</th>
                                <th>Xử lý</th>

                            </tr>
                        </thead>
                        <tbody id="tbody">
                            @foreach (var nv in @ViewBag.danhsachNhanvien)
                            {
                                <tr>
                                    <td style="display: none">@nv.PK_iNhanvienID</td>
                                    <td>@nv.sHoten</td>
                                    <td>@Convert.ToDateTime(@nv.tNgaysinh).ToString("dd/MM/yyyy")</td>
                                    <td>
                                        @(Convert.ToBoolean(@nv.bGioitinh) ==false?"Nam":"Nữ")
                                    </td>
                                    <td>@nv.sSoCMND</td>
                                    <td>@nv.sSodienthoai</td>
                                    <td>@nv.sDiachi</td>
                                    <td>@Convert.ToDateTime(@nv.tNgayvaolam).ToString("dd/MM/yyyy")</td>
                                    <td><button class="btnEdit" data-toggle="modal" data-target="#ModalSua" value="@nv.PK_iNhanvienID"><i class="fas fa-edit"></i></button> <i class="fas fa-toggle-on" style="font-size:20px"></i></td>
                                </tr>
                            }
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</main>

