
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_LayoutNhanvien.cshtml";
}
@using QLHGXDA.Models;
<div class="card mb-4">
    <div class="card-header">
        <i class="fas fa-table mr-1"></i>
        Danh sách khách hàng
    </div>
    <div class="card-body">
        <div class="table-responsive">
            <button type="button" class="btn btn-success" style="margin-bottom: 20px;" data-toggle="modal" data-target="#exampleModal">Thêm mới</button>
            <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
                <thead>
                    <tr>
                        <th>STT</th>
                        <th>Họ và tên</th>
                        <th>Số điện thoại</th>
                        <th>Địa chỉ</th>
                        <th>Giới tính</th>
                        <th>Tên tài khoản</th>
                        <th>Số CMND</th>
                        <th> Mã vé xe</th>
                        <th>Xử lý</th>

                    </tr>
                </thead>
                <tbody id="tbody">
                    @{ int i = 0;}
                    @foreach (tbl_Khachhang kh in @ViewBag.dsKhachhang)
                    {
                        <tr>
                            @{ i++;}
                            <td>@i</td>
                            <td>@kh.sHoten</td>
                            <td>@kh.sSodienthoai</td>
                            <td>@kh.sDiachi</td>
                            <td>
                                @(Convert.ToBoolean(@kh.bGioitinh) ==false?"Nam":"Nữ")
                            </td>
                            <td>
                                @if (kh.tbl_Taikhoan != null)
                                {
                                    <span>@kh.tbl_Taikhoan.sUsername</span>
                                }
                            </td>
                            <td>@kh.sSoCMND</td>
                            <td>
                                @if(kh.tbl_Vexe != null)
                                {
                                    <span>@kh.tbl_Vexe.sMasove</span>
                                }
                            </td>
                            <td><button class="btnSua" data-toggle="modal" data-target="#ModalSua" maSua="@kh.PK_iKhachhangID"><i class="fas fa-edit"></i></button> <button class="btnXoa" maXoa="@kh.PK_iKhachhangID"><i class=" fas fa-trash-alt"></i></button> <button class="btnChitiet" mavexe="@kh.tbl_Vexe.sMasove" data-toggle="modal" data-target="#ModalDkive"><i class="fas fa-info-circle"></i></button> </td>
                        </tr>
                    }
                </tbody>
            </table>
        </div>
    </div>
</div>

